/*
    function：首页的样式文件
    data：
    copyright：二师弟
    others：
*/

* {
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 10px;
    height: 455px;
    /*background-color: pink;*/
}

.main .focus {
    float: left;
    margin-left: 220px;
    width: 721px;
    height: 100%;
    background: url("../images/bg.png") no-repeat;
    /* 这里用背景图是暂时的，后面学习 js 后，将其改为 ul>li 的轮播图 */
    /*background-color: blue;*/
}

.main .newsflash {
    float: right;
    width: 250px;
    height: 100%;
    /*background-color: lightblue;*/
}

.newsflash .news {
    width: 100%;
    height: 168px;
    border: 2px solid #e4e4e4;
    /*background-color: saddlebrown;*/
}

.newsflash .news .news_name {
    padding-left: 16px;
    width: 100%;
    height: 37px;
    line-height: 37px;
    border-bottom: 2px dashed #e4e4e4;
    font-size: 14px;
    /*background-color: blueviolet;*/
}

.newsflash .news .news_name a {
    float: right;
    margin-right: 15px;
}

.newsflash .news .news_content h4 {
    margin-top: 6px;
    margin-left: 16px;
    font-weight: 400;
    font-size: 12px;
}

h4 i {
    margin-right: 5px;
    font-weight: 700;
}

.newsflash .lifeservice {
    width: 100%;
    height: 210px;
    border: 2px solid #e4e4e4;
    border-top: 0;
    /*background-color: sandybrown;*/
}

.newsflash .lifeservice li {
    float: left;
    width: 62px;
    height: 70px;
    border: 2px solid #e4e4e4;
    border-top: 0;
    border-left: 0;
    text-align: center;
    /*background-color: #b1191a;*/
}

.newsflash .lifeservice li:nth-child(4n) {
    /* 如果不修改 为4的倍数的 li 的宽度和边框，则会被挤下去或者右侧边框是双层的 */
    width: 60px;
    border-right: 0;
}

.lifeservice li h5 {
    margin-left: 18px;
    margin-top: 14px;
    margin-bottom: 8px;
    width: 24px;
    height: 24px;
    background: url("../images/icons.png") no-repeat -17px -16px;
    /*background-color: hotpink;*/
}

.lifeservice li .life_icon2 {
    background: url("../images/icons.png") no-repeat -80px -16px;
}

.lifeservice li .life_icon3 {
    background: url("../images/icons.png") no-repeat -141px -16px;
}

.lifeservice li .life_icon4 {
    background: url("../images/icons.png") no-repeat -206px -16px;
}

.lifeservice li .life_icon5 {
    background: url("../images/icons.png") no-repeat -17px -88px;
}

.lifeservice li .life_icon6 {
    background: url("../images/icons.png") no-repeat -80px -88px;
}

.lifeservice li .life_icon7 {
    background: url("../images/icons.png") no-repeat -141px -88px;
}

.lifeservice li .life_icon8 {
    background: url("../images/icons.png") no-repeat -206px -88px;
}

.lifeservice li .life_icon9 {
    background: url("../images/icons.png") no-repeat -17px -159px;
}

.lifeservice li .life_icon10 {
    background: url("../images/icons.png") no-repeat -80px -159px;
}

.lifeservice li .life_icon11 {
    background: url("../images/icons.png") no-repeat -141px -159px;
}

.lifeservice li .life_icon12 {
    background: url("../images/icons.png") no-repeat -206px -159px;
}

.lifeservice li p {
    font-size: 12px;
}

.newsflash .bargin {
    margin-top: 5px;
    width: 100%;
    height: 72px;
    background: url("../images/bargin.png");
    /*background-color: seagreen;*/
}

.nav_left {
    position: fixed;
    margin-left: -80px;
    margin-top: 148px;
    width: 70px;
    text-align: center;
    z-index: 2;
    /*background-color: pink;*/
}

.nav_left li {
    margin-top: -1px;
}

.nav_left li a {
    display: inline-block;
    margin: 0 auto;
    width: 60px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #e4e4e4;
    border-width: 0 0 1px 0;
    /*background-color: hotpink;*/
}

.nav_left li:first-child a {
    border-top-width: 1px;
}

.nav_left li:hover a {
    border: 0;
    width: 70px;
    color: #ffffff;
    background-color: #c81623;
}

/* 今日推荐模块 */
.dailyrec ul{
    margin-top: 12px;
    height: 165px;
}

.dailyrec li {
    float: left;
    width: 250px;
    height: 100%;
    background: #ebebeb url("../images/recom1.png") no-repeat 130px;
}

.dailyrec .recom2 {
    background: #ebebeb url("../images/recom2.png") no-repeat 130px;
}

.dailyrec .recom3 {
    background: #ebebeb url("../images/recom3.png") no-repeat 130px;
}

.dailyrec .recom4 {
    background: #ebebeb url("../images/recom4.png") no-repeat 130px;
}

.dailyrec li:hover a {
    color: #333333;
}

.dailyrec li h5 {
    margin-top: 22px;
    margin-left: 16px;
    font-size: 18px;
    color: #333333;
}

.dailyrec li p {
    margin-left: 18px;
    font-size: 12px;
    color: #333333;
}

.dailyrec li .tip {
    display: inline-block;
    margin-top: 12px;
    font-size: 15px;
    color: #ffffff;
    padding: 0 5px 0;
    background-color: #00a0e8;
}

.dailyrec .recom2 .tip {
    background-color: #5fb200;
}

.dailyrec .recom3 .tip {
    background-color: #e2162f;
}

.dailyrec .recom4 .tip {
    background-color: #0085fb;
}

.dailyrec li span {
    position: absolute;
    width: 58px;
    height: 20px;
    margin-left: 16px;
    margin-top: 22px;
    padding: 0 15px 0;
    font-size: 14px;
    color: #ffffff;
    background-color: #5fb200;
    border-radius: 10px;
}

.dailyrec .recom3 span {
    background-color: #e2162f;
}

.dailyrec .recom4 span {
    background-color: #0085fb;
}

.dailyrec li:first-child {
    width: 200px;
    text-align: center;
    line-height: 165px;
    background: url("../images/recom.png") no-repeat center;
    background-color: #5c5251;
}

.dailyrec li a::after {
    content: "";
    float: right;
    margin-top: -90px;
    width: 1px;
    height: 145px;
    background-color: #dddddd;
}

.dailyrec li:last-child a::after {
    background-color: #ebebeb;
}

/* 猜你喜欢模块 */
.guess {
    margin-top: 18px;
    height: 274px;
    /*background-color: pink;*/
}

.guess div:first-child {
    padding-right: 20px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    /*background-color: sandybrown;*/
}

.guess div:first-child h5 {
    float: left;
    font-size: 18px;
}

.guess div:first-child a {
    float: right;
    width: 60px;
    height: 14px;
    font-size: 12px;
}

.guess div:first-child a .img {
    float: right;
    margin-top: 11px;
    width: 14px;
    height: 18px;
    border: 0;
    background: url("../images/icons.png") no-repeat -421px -111px;
}

.guess div:last-child {
    width: 1200px;
    height: 236px;
    border: 2px solid #ededed;
    /*background-color: salmon;*/
}

.guess div:last-child li {
    float: left;
    width: 199px;
    height: 236px;
    /*background-color: saddlebrown;*/
}

.guess div:last-child li div {
    padding: 0;
    /* 因为上面 “div:first-child div” 中有 padding-right 属性，
    这个div也符合选择条件，所以添加 padding: 0 */
    width: 100%;
    height: 163px;
}

.guess div:last-child .guess1 {
    background: url("../images/guess1.png") no-repeat center;
}

.guess div:last-child .guess2 {
    background: url("../images/guess2.png") no-repeat center;
}

.guess div:last-child .guess3 {
    background: url("../images/guess3.png") no-repeat center;
}

.guess div:last-child .guess4 {
    background: url("../images/guess4.png") no-repeat center;
}

.guess div:last-child .guess5 {
    background: url("../images/guess5.png") no-repeat center;
}

.guess div:last-child .guess6 {
    background: url("../images/guess6.png") no-repeat center;
}

.guess div:last-child p {
    margin-left: 35px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*弹性伸缩盒子模型显示*/
    display: -webkit-box;
    /*限制在一个款元素显示的文本行数*/
    -webkit-line-clamp: 2;
    /*设置或检索伸缩盒对象的子元素的排列方式*/
    -webkit-box-orient: vertical;
}

.guess div:last-child span {
    margin-left: 35px;
    font-size: 18px;
    font-weight: 700;
    color: #df3033;
}

.guess div:last-child li::after {
    content: "";
    float: right;
    margin-top: -34px;
    width: 1px;
    height: 62px;
    background-color: #ededed;
}

.guess div:last-child li:last-child::after {
    display: none;
}

/* 传智播客·有趣区模块 */
.interest {
    height: 463px;
    /* background-color: pink; */
}

.interest h1 {
    padding-top: 25px;
    height: 58px;
    font-size: 18px;
    font-weight: 400;
    /* background-color: skyblue; */
}

.interest .booststuff {
    float: left;
    display: inline-block;
}

.interest .booststuff a {
    display: inline-block;
    width: 405px;
    height: 403px;
    background: url("../images/interest_books.png") no-repeat;
    /* background-color: #c81623; */
}

.interest div {
    display: inline-block;
    float: left;
    height: 402px;
}

.interest .content {
    display: inline-block;
    height: 407px;
    border: 2px solid #ededed;
}

.interest .goodstuff {
    width: 226px;
    height: 405px;
    border-right: 2px solid #ededed;
    /* background-color: orange; */
}

.content dt {
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px dashed #ededed;
}

.goodstuff dt {
    width: 191px;
    /* background-color: chocolate; */
}

dt a {
    color: #333;
}

.goodstuff dd a {
    display: inline-block;
    width: 100%;
    height: 207px;
    padding-left: 10px;
    padding-top: 68px;
    color: #333;
    border-bottom: 2px solid #ededed;
    background: url("../images/keyboard.png") no-repeat right;
}

.goodstuff dd:last-child a {
    height: 158px;
    padding-top: 50px;
    border: 0;
    background: url("../images/clothing.png") no-repeat right;
}

.goodstuff a:hover h5, p:first-child {
    color: #333;
}

.goodstuff dd h5 {
    font-size: 18px;
}

.goodstuff dd p:last-child {
    color: #e60012;
}

.interest .brandstreet {
    width: 404px;
    height: 403px;
    border-right: 2px solid #ededed;
    background-color: #f7f7f7;
}

.brandstreet dt {
    width: 365px;
}

.brandstreet dd {
    float: left;
    width: 201px;
    height: 156px;
}

.brandstreet dd:nth-of-type(1) {
    /* 此处使用 .brandstreet dd:first-child{} 是不能起作用的。
    因为 first-child 是匹配该元素的父元素的第一个子元素，
    且第一个子元素要与该元素一致，但此处 dl 的第一个子元素为 dt，而非 dd。
    nth-of-type() 则是匹配指定类型的元素的第几个，此处为 dd 元素的第一个。*/
    width: 402px;
    height: 207px;
    border-bottom: 2px solid #ededed;
    background: #f7f7f7 url("../images/cooker.png") no-repeat right;
}

.brandstreet dd:nth-of-type(2) {
    border-right: 2px solid #ededed;
    background: #f7f7f7 url("../images/shoes.png") no-repeat 85px 24px;
}

.brandstreet dd:last-child {
    background: #f7f7f7 url("../images/cwb.png") no-repeat 81px 21px;
}

.brandstreet dd a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.brandstreet dd h4 {
    margin: 50px 0 16px 12px;
    font-size: 18px;
    color: #333;
}

.brandstreet dd p {
    margin-left: 12px;
    color: #333;
}

.brandstreet dd p:last-child {
    color: #e83f48;
}

.brandstreet dd:nth-of-type(1) h4 {
    margin: 73px 0 16px 53px;
}

.brandstreet dd:nth-of-type(1) p {
    margin-left: 53px;
}

.interest .brands {
    width: 161px;
    height: 403px;
    /* background-color: burlywood; */
}

.brands li {
    float: left;
    width: 80px;
    height: 58px;
    background: #ffffff url("../images/brands.png") no-repeat -1px 4px;
}

.brands li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px dashed #ededed;
    border-width: 0px 2px 2px 0;
}

.brands li:nth-child(2n-1) {
    width: 81px;
    padding-left: 10px;
}

.brands li:nth-child(2n) {
    padding-right: 10px;
}

.brands li:nth-child(2n) a {
    border-right: 0;
}

.brands li:nth-of-type(1), 
.brands li:nth-of-type(2) {
    padding-top: 13px;
}

.brands li:nth-of-type(13), 
.brands li:nth-of-type(14) {
    padding-bottom: 13px;
    height: 55px;
}

.brands li:nth-of-type(13) a, 
.brands li:nth-of-type(14) a {
    border-bottom: 0;
}

.brands .brand2 {
    background: #ffffff url("../images/brands.png") no-repeat -87px 5px;
}

.brands .brand3 {
    background: #ffffff url("../images/brands.png") no-repeat -1px -57px;
}

.brands .brand4 {
    background: #ffffff url("../images/brands.png") no-repeat -87px -59px;
}

.brands .brand5 {
    background: #ffffff url("../images/brands.png") no-repeat -1px -116px;
}

.brands .brand6 {
    background: #ffffff url("../images/brands.png") no-repeat -89px -114px;
}

.brands .brand7 {
    background: #ffffff url("../images/brands.png") no-repeat -1px -172px;
}

.brands .brand8 {
    background: #ffffff url("../images/brands.png") no-repeat -87px -172px;
}

.brands .brand9 {
    background: #ffffff url("../images/brands.png") no-repeat -1px -232px;
}

.brands .brand10 {
    background: #ffffff url("../images/brands.png") no-repeat -89px -232px;
}

.brands .brand11 {
    background: #ffffff url("../images/brands.png") no-repeat -1px -289px;
}

.brands .brand12 {
    background: #ffffff url("../images/brands.png") no-repeat -89px -289px;
}

.brands .brand13 {
    background: #ffffff url("../images/brands.png") no-repeat -1px -352px;
}

.brands .brand14 {
    background: #ffffff url("../images/brands.png") no-repeat -87px -352px;
}

/* 家用电器模块 */
.elecapp {
    height: 507px;
    /* background-color: pink; */
}

.title {
    border-bottom: 3px solid #c81623;
}

.title h1 {
    display: inline-block;
    height: 59px;
    padding-top: 30px;
    color: #c81623;
    font-size: 17px;
}

.title ul {
    float: right;
}

.title li {
    float: left;
    padding: 0 15px;
    margin-top: 36px;
    height: 12px;
    line-height: 12px;
    color: #666666;
    border-right: 2px solid #999;
}

.title li:last-child {
    border-right: 0;
}

.reclist {
    display: inline-block;
    width: 540px;
    height: 360px;
}

.reclist .rl1 {
    float: left;
    width: 210px;
    height: 360px;
    background-color: #f9f9f9;
}

.reclist .rl1 li {
    float: left;
    margin-left: 12px;
    width: 87px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-bottom: 2px solid #ededed;
    /* background-color: teal; */
}

.reclist .rl1 .goodtitle {
    float: left;
    width: 100%;
    height: 70px;
    padding-top: 26px;
    text-align: center;
    /* background-color: skyblue; */
}

.reclist .rl1 .goodtitle h5 {
    font-size: 17px;
    color: #cb2531;
}

.reclist .rl1 .goodtitle p {
    color: #cf3440;
}

.reclist .rl1 .goodimg {
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 181px;
}

.elecapp .goodimg {
    background: url("../images/television.png") no-repeat center;
}

.reclist .rl2 {
    position: relative;
    float: left;
}

.reclist .rl2 .recgoods {
    width: 330px;
    height: 360px;
    overflow: hidden;
}

.reclist .rl2 .recgoods li {
    float: left;
    width: 330px;
    height: 360px;
}

.elecapp .rl2 .recgoods li {
    background-color: #aed6d8;
}

.reclist .rl2 .recgoods li h5 {
    margin-top: 38px;
    padding-left: 31px;
    height: 27px;
    font-size: 18px;
}

.elecapp .rl2 .recgoods li h5 {
    color: #066c7d;
}

.reclist .rl2 .recgoods li p {
    margin-bottom: 35px;
    padding-left: 31px;
    height: 23px;
    font-size: 16px;
}

.elecapp .rl2 .recgoods li p {
    color: #066c7d;
}

.reclist .rl2 .recgoods li div {
    width: 100%;
    height: 237px;
    /* background-color: sandybrown; */
}

.elecapp .rl2 .recgoods li div {
    background: url("../images/teatools.png") no-repeat top;
}

.reclist .rl2 .tipcircle {
    position: absolute;
    width: 46px;
    height: 10px;
    margin-top: -20px;
    margin-left: 50%;
    left: -23px;
}

.reclist .rl2 .tipcircle li {
    float: left;
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3e3e3e;
    cursor: pointer;
    /* 将鼠标样式更改为小手 */
}

.reclist .rl2 .tipcircle li:last-child {
    margin: 0;
}

.reclist .rl2 .tipcircle .selected {
    background-color: #fff;
}

.recapps {
    float: right;
    width: 660px;
    height: 360px;
    /* background-color: seagreen; */
}

.recapps li {
    position: absolute;
    width: 220px;
    height: 180px;
    border: 2px solid #ededed;
    border-width: 0 2px 2px 0;
    /* background-color: steelblue; */
}

.elecapp .rc1 {
    background: url("../images/elecapps.png") no-repeat 0 -1px;
}

.recapps .rc2 {
    margin-left: 220px;
    height: 360px;
}

.elecapp .rc2 {
    background: url("../images/elecapps.png") no-repeat -221px 0;
}

.recapps .rc3 {
    margin-left: 440px;
}

.elecapp .rc3 {
    background: url("../images/elecapps.png") no-repeat -441px 0;
}

.recapps .rc4 {
    margin-top: 180px;
}

.elecapp .rc4 {
    background: url("../images/elecapps.png") no-repeat 0 -181px;
}

.recapps .rc5 {
    margin-left: 440px;
    margin-top: 180px;
}

.elecapp .rc5 {
    background: url("../images/elecapps.png") no-repeat -441px -181px;
}

.recapps li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.elecbrands {
    margin-top: 14px;
    height: 65px;
    background-color: aquamarine;
}

.elecbrands li {
    float: left;
    width: 120px;
    height: 65px;
    background-color: cornflowerblue;
}

.elecapp .eb1 {
    background: url("../images/elecbrands.png") no-repeat;
}

.elecapp .eb2 {
    background: url("../images/elecbrands.png") no-repeat -120px 0;
}

.elecapp .eb3 {
    background: url("../images/elecbrands.png") no-repeat -240px 0;
}

.elecapp .eb4 {
    background: url("../images/elecbrands.png") no-repeat -360px 0;
}

.elecapp .eb5 {
    background: url("../images/elecbrands.png") no-repeat -480px 0;
}

.elecapp .eb6 {
    background: url("../images/elecbrands.png") no-repeat -600px 0;
}

.elecapp .eb7 {
    background: url("../images/elecbrands.png") no-repeat -720px 0;
}

.elecapp .eb8 {
    background: url("../images/elecbrands.png") no-repeat -840px 0;
}

.elecapp .eb9 {
    background: url("../images/elecbrands.png") no-repeat -960px 0;
}

.elecapp .eb10 {
    background: url("../images/elecbrands.png") no-repeat -1080px 0;
}

.elecbrands li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* 手机通讯模块 */
.phone {
    height: 507px;
}

.phone .goodimg {
    background: url("../images/ZTEphone.png") no-repeat center;
}

.phone .rl2 .recgoods li {
    background-color: #c6e8b6;
}

.phone .rl2 .recgoods li h5 {
    color: #578d38;
}

.phone .rl2 .recgoods li p {
    color: #578d38;
}

.phone .rl2 .recgoods li div {
    background: url("../images/360phone.png") no-repeat top;
}

.phone .rc1 {
    background: url("../images/rephones.png") no-repeat;
}

.phone .rc2 {
    background: url("../images/rephones.png") no-repeat -220px 0;
}

.phone .rc3 {
    background: url("../images/rephones.png") no-repeat -441px 0;
}

.phone .rc4 {
    background: url("../images/rephones.png") no-repeat 0 -180px;
}

.phone .rc5 {
    background: url("../images/rephones.png") no-repeat -441px -180px;
}

.phone .eb1 {
    background: url("../images/phonebrands.png") no-repeat;
}

.phone .eb2 {
    background: url("../images/phonebrands.png") no-repeat -120px 0;
}

.phone .eb3 {
    background: url("../images/phonebrands.png") no-repeat -240px 0;
}

.phone .eb4 {
    background: url("../images/phonebrands.png") no-repeat -360px 0;
}

.phone .eb5 {
    background: url("../images/phonebrands.png") no-repeat -480px 0;
}

.phone .eb6 {
    background: url("../images/phonebrands.png") no-repeat -600px 0;
}

.phone .eb7 {
    background: url("../images/phonebrands.png") no-repeat -720px 0;
}

.phone .eb8 {
    background: url("../images/phonebrands.png") no-repeat -840px 0;
}

.phone .eb9 {
    background: url("../images/phonebrands.png") no-repeat -960px 0;
}

.phone .eb10 {
    background: url("../images/phonebrands.png") no-repeat -1080px 0;
}

/* 电脑办公模块 */
.computer {
    height: 507px;
}

.computer .goodimg {
    background: url("../images/pc.png") no-repeat center;
}

.computer .rl2 .recgoods li {
    background-color: #d7aac9;
}

.computer .rl2 .recgoods li h5 {
    color: #874d75;
}

.computer .rl2 .recgoods li p {
    color: #874d75;
}

.computer .rl2 .recgoods li div {
    background: url("../images/camera.png") no-repeat top;
}

.computer .rc1 {
    background: url("../images/recomputers.png") no-repeat;
}

.computer .rc2 {
    background: url("../images/recomputers.png") no-repeat -220px 0;
}

.computer .rc3 {
    background: url("../images/recomputers.png") no-repeat -441px 0;
}

.computer .rc4 {
    background: url("../images/recomputers.png") no-repeat 0 -181px;
}

.computer .rc5 {
    background: url("../images/recomputers.png") no-repeat -441px -181px;
}

.computer .eb1 {
    background: url("../images/pcbrands.png") no-repeat;
}

.computer .eb2 {
    background: url("../images/pcbrands.png") no-repeat -120px 0;
}

.computer .eb3 {
    background: url("../images/pcbrands.png") no-repeat -240px 0;
}

.computer .eb4 {
    background: url("../images/pcbrands.png") no-repeat -360px 0;
}

.computer .eb5 {
    background: url("../images/pcbrands.png") no-repeat -480px 0;
}

.computer .eb6 {
    background: url("../images/pcbrands.png") no-repeat -600px 0;
}

.computer .eb7 {
    background: url("../images/pcbrands.png") no-repeat -720px 0;
}

.computer .eb8 {
    background: url("../images/pcbrands.png") no-repeat -840px 0;
}

.computer .eb9 {
    background: url("../images/pcbrands.png") no-repeat -960px 0;
}

.computer .eb10 {
    background: url("../images/pcbrands.png") no-repeat -1080px 0;
}

/* 热门疯抢模块 */
.hotrob {
    margin-bottom: 37px;
    height: 344px;
    /* background-color: coral; */
}

.hotrob .hottitle {
    padding-top: 30px;
    height: 60px;
    font-size: 17px;
    color: #333;
}

.hotrecapps {
    float: left;
    width: 900px;
    border-bottom: 2px solid #ededed;
}

.hotrecapps li {
    float: left;
    width: 220px;
    height: 141px;
    border: 2px solid #ededed;
    border-right: 0;
    border-bottom: 0;
    /* background-color: cornflowerblue; */
}

.hotrecapps li:first-child {
    width: 240px;
    height: 282px;
    /* background-color: darkcyan; */
}

.hotrecapps li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.hotrecapps li div {
    float: left;
    margin-top: 18px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: darkolivegreen;
}

.hotrecapps .hra1 div {
    /* display: inline-block; */
    float: none;
    margin: 0;
    width: 239px;
    height: 145px;
}

.hotrecapps .hra1 div {
    background: url("../images/hotrob.png") no-repeat -5px -43px;
}

.hotrecapps .hra2 div {
    background: url("../images/hotrob.png") no-repeat -255px -61px;
}

.hotrecapps .hra3 div {
    background: url("../images/hotrob.png") no-repeat -470px -61px;
}

.hotrecapps .hra4 div {
    background: url("../images/hotrob.png") no-repeat -695px -61px;
}

.hotrecapps .hra5 div {
    background: url("../images/hotrob.png") no-repeat -255px -202px;
}

.hotrecapps .hra6 div {
    background: url("../images/hotrob.png") no-repeat -470px -202px;
}

.hotrecapps .hra7 div {
    background: url("../images/hotrob.png") no-repeat -695px -202px;
}

.hotrecapps li h5 {
    display: inline-block;
    margin-top: 18px;
    margin-left: 5px;
    width: 100px;
    height: 33px;
    font-weight: 400;
}

.hotrecapps .hra1 h5 {
    display: block;
    padding-left: 20px;
    width: 100%;
    height: 20px;
}

.hotrecapps li span {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #df3033;
}

.hotrecapps .hra1 span {
    margin-left: 25px;
}

.hotcomment {
    float: left;
    width: 300px;
    height: 284px;
    border: 2px solid #ededed;
    background-color: darkgray;
}