<!-- 人口普查折线图 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart3</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="font-family:arial, sans-serif">
    <h1>三种类型的花的萼片或花瓣长宽数据可视化：</h1>
    <div id="chart3" class="chart3"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        由右侧颜色条可看出，不同颜色代表不同 species_id(后面为了方便统称 id) 的花，红色为 id=1 ，绿色为 id=2 ，蓝色为 id=3 ，即分别为 setosa 、
        versicolor 和 virginica 。可以看出这三种花的萼片长、宽之间没有实质性的关系，并不是萼片越长则萼片越宽。但是总体来说，三种花的萼片越长，则花瓣越长
        且花瓣越宽。 但萼片越宽的花，其花瓣并不一定越宽。如 setosa 的萼片宽度总体是最宽的，但其花瓣宽度却是最窄的。virginica 的萼片宽度略宽于 versicolor
        的萼片宽度，但其大部分的花瓣宽度却更宽。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart3', d, {});
</script>

</html>