<!-- 餐厅数据的并行类别图 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart4</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="font-family:arial, sans-serif">
    <h1>餐厅数据的可视化展示：</h1>
    <p>size代表就餐人数</p>
    <div id="chart4" class="chart4"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        由图中左侧 sex 条可得出，男性食客的人数相对于女性食客的人数是远远超出的。由 smoker 条也能看出，不抽烟的人数远远超过抽烟的人数。
        由 day 条可以看出，周六来吃饭的人数最多、周日其次，周五最少。由 time 条可以看出，晚餐来吃饭的人数远多于午餐的人数。
        每次来吃饭的人，2 人为最多，1 人和 6人为最少。且每次为 6 人来吃饭的食客都为不吸烟的。周五来吃饭的人数一次最多不超过 4 人，且大部分
        都是抽烟的食客。周四、周六和周日来吃饭的食客大部分都是以一次 2 人，且都不吸烟。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart4', d, {});
</script>

</html>