<!-- 风力的散点极坐标图 -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>chart1</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>风力数据的可视化展示：</h1>
    <div id="chart2" class="chart2"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        由图中散点的分布可看出，W 方位上的较 E 方位的风力等级小于等于 6 的风更多。风力为 3-4 及以上的等级且频率大于 1 的风，
        全部都集中在 N — W 和 S — W 的方位。等级 6+ 的风大部分都集中于 E 方位。风力大于 4 且频率大于 0.5 的风都集中在 NW - W 方位。
        风力等级为 0-1 的风的频率全部小于 1 。风力等级为 1-2 的风的频率全部大于 1 。风力等级为 2-3 的风的频率全部大于 0.5 。
        风力等级为 3-4 的风的频率全部大于等于 0.5 。风力等级为 4-4 的风的频率全部大于等于 0.2 。风力等级为 4-5 的风的频率全部大于等于 0.1 。
        风力等级为 5+ 的风的频率全部大于等于 0.05 。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart2', d, {});
</script>


</html>
