<!-- 2013年蒙特利尔市长选举投票结果三维散点图 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart9</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="font-family:arial, sans-serif">
    <h1>2013年蒙特利尔市长选举投票结果可视化：</h1>
    <div id="chart9" class="chart9"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        在 Coderre 票数为优胜的情况中，绝大部分票数在 1600 及以上。
        在 Joly 票数为优胜的情况中，绝大多数票数在 1800 及以上。
        在 Bergeron 票数为优胜的情况中，绝大多数票数在 2200 及以上。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart9', d, {});
</script>

</html>