<!-- 不同种类花散点图 -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>chart1</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='baseCSS/inputSelect.css') }}">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function cb1(selection) {
            $.getJSON({
                url: "/callback1", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart1', result, {});
                    console.log("显示:"+result);
                }
            });
            console.log(selection);
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>三种类型的花的萼片或花瓣长宽数据可视化：</h1>
    <select onchange="cb1(this.value)" class="inselect">
        <option value="sepal">萼片(长宽)</option>
        <option value="petal">花瓣(长宽)</option>
    </select>
    <div id="chart1" class="chart1"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        由图中可以看出，萼片方面，setosa 种类的花的萼片宽度最长，且三种花的萼片宽度大部分都集中在 2.5 — 4 的宽度区间。
        而萼片长度则是 virginica > versicolor > setosa ，三种花的萼片长度大部分集中在 3 — 7.4 的长度区间。
    </p>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        花瓣方面，最直观的就是 setosa 种类的花的花瓣不论是宽度还是长度都与另两种花有较大的差别，所有的 setosa 种类的花的花瓣宽度都小于 1 ，
        花瓣长度都小于 2 ，其余两种花都在这个区间之上，virginica 种类的花绝大部分的花瓣宽度和长度都大于 versicolor 种类的花。
        其宽度都位于 1.7 — 2.5 的区间中，长度都位于 4 — 8 这个区间中。 versicolor 种类的花宽度都位于 1 — 2 这个区间中，长度都位于 2 — 6 这个区间中。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart1', d, {});
</script>


</html>
