<!-- 动画地图 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart10</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='baseCSS/inputSelect.css') }}">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function cb10(selection) {
            $.getJSON({
                url: "/callback10", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart10', result, {});;
                }
            });
        }
    </script>
</head>
<body style="font-family:arial, sans-serif">
    <h1>动画地图：</h1>
    <select onchange="cb10(this.value)" class="inselect">
        <option value="lifeExp">平均寿命</option>
        <option value="pop">人口</option>
        <option value="gdpPercap">GDP</option>
    </select>
    <div id="chart10" class="chart10"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        由图可知，从 1952 年到 2007 年间，世界绝大部分地区人们的平均寿命都有所增长。中国人的平均寿命从 40 岁左右增长到了 70岁。
        从 1952 年到 2007 年间，人口增长最为明显的地区为中国、印度、美国和巴西。其中中国人口从 5 亿左右增长到了超过 10 亿。
        从 1952 年到 2007 年间，世界绝大部分地区 GDP 都有所增长。其中美国、加拿大、澳大利亚、沙特阿拉伯、利比亚和欧洲地区最为明显。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart10', d, {});
</script>

</html>