<!-- 餐厅数据的堆积类型条形图 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart7</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="font-family:arial, sans-serif">
    <h1>餐厅数据的可视化展示：</h1>
    <div id="chart7" class="chart7"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart7', d, {});
</script>

</html>