<!-- 餐厅数据的密度等值线图 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart6</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='baseCSS/inputSelect.css') }}">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function cb6(selection) {
            $.getJSON({
                url: "/callback6", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart6', result, {});;
                }
            });
            console.log(selection);
        }
    </script>
</head>
<body style="font-family:arial, sans-serif">
    <h1>餐厅数据的可视化展示：</h1>
    <select onchange="cb6(this.value)" class="inselect">
        <option value="time_size">午晚餐-人数</option>
        <option value="time_totalBill">午晚餐-消费总额</option>
        <option value="time_tip">午晚餐-小费</option>
        <option value="day_size">星期-人数</option>
        <option value="day_totalBill">星期-消费总额</option>
        <option value="day_tip">星期-小费</option>
    </select>
    <div id="chart6" class="chart6"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        从”午晚餐-人数“的图中能看出，不论是午餐还是晚餐，就餐人数主要集中在 1-3 人。
        从“午晚餐-消费总额”的图中能看出，食客们在午餐的消费最为密集，消费总额密度最多为的 7-13 ，共有 6 条线；其次为 20-28 ，共有 5 条线。
        食客们的总消费不超过 40 。
        从“午晚餐-小费”的图中能看出，食客们同样在午餐给小费最为密集，密度最多的为 3-5 ，共有 8 条线；其次为 0-2 ，共有 6 条线。
        从“星期-人数”的图中能看出，食客人数密度最大的区间为 1-3 人。
        从“星期-消费总额”的图中能看出，食客消费总额主要集中在 7-30 ，且密度最为集中在 7-13 。
        从“星期-小费”的图中能看出，食客给出的小费主要集中在 0-3 这个区间。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart6', d, {});
</script>

</html>