<!-- 人口普查折线图 -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>chart</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='baseCSS/inputSelect.css') }}">
<!--    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>1990-2014中国人口普查结果可视化展示：</h1>
    <select onchange="cb(this.value)" class="inselect">
        <option value="all">总人口</option>
        <option value="man">男性总人口</option>
        <option value="ratioMan">男性总人口占比</option>
        <option value="woman">女性总人口</option>
        <option value="ratioWomen">女性总人口占比</option>
        <option value="city">城市总人口</option>
        <option value="ratioCity">城市总人口占比</option>
        <option value="country">农村总人口</option>
        <option value="ratioCountry">农村总人口占比</option>
        <option value="birthRate">出生率</option>
        <option value="deathRate">死亡率</option>
        <option value="naturalGrowthRate">自然增长率</option>
    </select>
    <div id="chart" class="chart"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        从图中可以看出，从 1990 年到 2014 年间，随着时间的增长，虽然全国总人口、男性、女性总人口呈持续上涨趋势，
        但出生率却持续下跌，死亡率从 2003 年开始便持续攀升，直到 2011 年趋于稳定，人口自然增长率持续减少，中国社会的老龄化现象将凸显出来。
        另外，几十年来城市总人口逐年递增，农村人口持续下滑。从 2011 年开始，城市总人口便已经超过农村总人口。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>


</html>
