<!-- 餐厅数据的矩阵散点图 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart5</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="../../static/js/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="font-family:arial, sans-serif">
    <h1>餐厅数据的可视化展示：</h1>
    <div id="chart5" class="chart5"></div>
    <p style="width: 90%; margin: 20px auto;text-indent: 30px;">
        由图中可以看出，食客们的总消费的密集区域为 10-20 ，给的小费的密集区域为 0-5 。总体来看，总消费越高的食客，给的小费也相应的越高。
        从性别来看，总消费超过 30 的食客中，男性食客的比例明显高于女性食客；小费超过 5 的食客中，男性食客的比例同样明显高于女性食客。
        几乎没有食客愿意给出超过 10 的小费数额。
    </p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart5', d, {});
</script>

</html>