<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>chart</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>



</head>

<body style="font-family:arial, sans-serif">
    <h1>1952-2007年的各国GDP可视化</h1>
    <h2>可输入类型如下(输入英文)：</h2>
    <table border="1">
        <tr>
            <td>总人口</td>
            <td>男性总人口</td>
            <td>男性总人口占比</td>
            <td>女性总人口</td>
            <td>女性总人口占比</td>
            <td>城市总人口</td>
            <td>城市总人口占比</td>
            <td>农村总人口</td>
            <td>农村总人口占比</td>
            <td>出生率</td>
            <td>死亡率</td>
            <td>自然增长率</td>
        </tr>
        <tr>
            <td>all</td>
            <td>man</td>
            <td>ratioMan</td>
            <td>woman</td>
            <td>ratioWomen</td>
            <td>city</td>
            <td>ratioCity</td>
            <td>country</td>
            <td>ratioCountry</td>
            <td>birthRate</td>
            <td>deathRate</td>
            <td>naturalGrowthRate</td>
        </tr>
    </table>
    <br>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>


</html>
